body {
  background-color: #00224d;
  margin: 0%;
  padding: 0%;
}

.calculator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 14rem;
  max-width: 450px;
  text-align: center;
}

input[type="number"],
select,
button {
  margin: 5px;
  padding: 10px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}

button {
  cursor: pointer;
  background-color: #ff204e;
  color: white;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #aa1d39;
}

p,
h1 {
  color: aliceblue;
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .calculator {
    max-width: 80%;
  }
}
