@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

body {
  background-color: #26001b;
  font-family: "Poppins", Courier, monospace;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
  background-color: #810034;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

h1 {
  margin-bottom: 10px;
}

#timer {
  font-size: 30px;
  margin-bottom: 20px;
}

.buttons {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 400px;
}

button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #ff005c;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #fff600;
}

button:disabled {
  background-color: #909090;
  cursor: not-allowed;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 10px;
    font-size: 80%;
  }

  button {
    font-size: 14px;
  }
}
