<!-- <button routerLink="/">Go to Root</button>
<button routerLink="/first">Go to First</button>
<button [routerLink]="['/second', 3]">Go to Second with 3</button>
<button [routerLink]="['/second', 4]">Go to Second with 4</button>
<button (click)="navigateToRoot()">Go to Root</button>

<button routerLink="/first" [queryParams]="{ order: 'asc', page: 1 }">
  Go to first with query Param
</button>
<button (click)="onButton1Click()">Go 2 1st with query param component</button>
<router-outlet></router-outlet> -->
<app-second></app-second>
